$color-titulo: #6e1511;
$color-titulo2: #381b1a;
$color-footer1: #2c1110;
$color-footer2: #1d0504;
$color-titulo3: rgb(36, 0, 0);
$color-titulo4: #320d0c;
$color-titulo5: #699FA1;
$color-titulo6: #9BC2C5;